<table>
    <tr>
        <td>
            <button type="button" (click)="modifyNumber(-step)">Prev</button>
        </td>
        <td>
            Select page:
            <select (change)="selectNumber($event)" [value]="currNumber">
                @for (n of numbers; track $index) {
                    <option [value]="n">{{ n }}</option>
                }
            </select>
        </td>
        <td>
            Change step:
            <select (change)="stepChange($event)">
                @for (s of steps; track $index) {
                    <option [value]="s">{{ s }}</option>
                }
            </select>
        </td>
        <td>
            <button type="button" (click)="modifyNumber(step)">Next</button>
        </td>
    </tr>
</table>